@media screen and (max-width: 576px) {
  .body {
    /* max-width: calc(100%-20px); */
    margin: 0 auto;
  }
  .section {
    max-width: calc(100% - 40px);
    margin: 0 auto;
    /* padding: 0px 20px; */
    /* border: 5px solid rgb(230, 23, 23); */
  }
  .text-title {
    font-size: 2rem;
  }
  .hero,
  .habit-content,
  .navbar,
  .run-content,
  .run-image-div,
  .run-btn,
  .team-header,
  .bmi-header-content {
    width: 100%;
  }
  .hero {
    flex-direction: column;

    margin-bottom: 0px;
    gap: 3rem;
  }
  .hero-content {
    width: 100%;
  }
  .hero-content-container {
    width: 72%;
    margin-top: 0px;
  }
  .hero-content-title {
    font-size: 2.25rem;
    line-height: 45px;
  }
  .shape {
    font-size: 4.5rem;
  }
  .services {
    padding: 11px 18px;
  }
  .video-tutorial {
    bottom: 271px;
    left: 0px;
    align-items: center;
  }
  .free-workout {
    top: 40px;
    right: 0px;
  }
  .no-club {
    display: inline-block;
  }
  .hero-image {
    width: 100%;
  }
  .hero-image img {
    width: 100%;

    margin: 0 auto;
  }
  .number {
    font-size: 1.125rem;
  }
  .workout-number {
    font-size: 1.9rem;
  }
  .text {
    font-size: 0.85rem;
  }

  .habit-content {
    width: 100%;
  }
  .run-image-div {
    width: 100%;
    height: 170px;
    background-position: center;
    background-size: cover;
  }
  .training-exercise-section {
    height: 520px;

    margin-top: 66px;
    margin-bottom: 20px;
  }
  .training-header {
    width: 100%;
    margin-bottom: 37px;
  }
  .bmi-header-content {
    width: 90%;
    margin-bottom: 32px;
  }

  .run-extra-mile {
    flex-direction: column;
    align-items: center;
    padding: 31px 33px 35px;
    gap: 31px;
  }

  .club,
  .trainee-1,
  .trainee-6 {
    display: none;
  }
  .button {
    display: flex;
  }
  .bmi-chart {
    width: 100%;
  }
  .habit-card-container {
    width: 100%;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }
  .pass {
    flex-direction: column;
  }
  .one-day-pass {
    margin-top: 0px;
  }
  .monthly-pass {
    margin-bottom: 0px;
  }

  .footer-container,
  .footer-links-container {
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }

  .bar {
    display: block;
  }
  .training-exercise-section {
    height: 396px;
    margin-bottom: 66px;
  }
  .training-first-div {
    grid-template-columns: 1fr 1fr;
  }
  .ul-container,
  .training-image-3,
  .training-image-6 {
    display: none;
  }
  .training-second-div {
    grid-template-columns: 1fr 1.24fr;
  }
  .exercise-image {
    height: 127px;
  }
  .training-image-1-p {
    color: rgb(255, 255, 255);
  }
  .training-image-4-p {
    right: 2px;
    top: 75px;
    left: 10px;
  }
  .bmi-container {
    flex-direction: column;
  }
  .bmi-calculator-container {
    margin-bottom: 66px;
  }
  .bmi-table-form-container {
    /* border: 2px solid white; */
    padding: 34px 0px 59px 0px;
  }

  .bmi-container {
    gap: 42px;
  }
  .bmi-form {
    width: 100%;
  }
  .bmi-chart {
    /* border: 2px solid white;  */
    margin-top: 0px;
  }
  .meet-our-team {
    width: 100%;
    margin-bottom: 37px;
  }
  .team-header {
    width: 87%;
  }
  .image-container {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 78px;
  }
  .download-app {
    margin-left: 0rem;
  }

  .habit-card {
    width: 50%;
  }
  .footer-container {
    padding-top: 44px;
    gap: 30px;

  }
  
  .footer-content {
    width: 91.79%;
  }
  .footer-bottom {
    text-align: start;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .body {
    /* max-width: calc(100%-20px); */
    margin: 0 auto;
  }
  .section {
    max-width: calc(100% - 40px);
    margin: 0 auto;
    /* padding: 0px 20px; */
    /* border: 5px solid rgb(230, 23, 23); */
  }

  .hero,
  .habit-content,
  .navbar,
  .run-content,
  .run-image-div,
  .run-btn,
  .team-header,
  .bmi-header-content {
    width: 100%;
  }
  .nav-link-container {
    gap: 2rem;
  }
  .hero {
    flex-direction: column;

    margin-bottom: 0px;
    gap: 1px;
  }
  .hero-content {
    width: 100%;
  }
  .hero-content-container {
    width: 72%;
    margin-top: 0px;
  }

  .services {
    padding: 11px 18px;
  }
  .video-tutorial {
    bottom: 271px;
    left: 0px;
    align-items: center;
  }
  .free-workout {
    top: 40px;
    right: 0px;
  }
  .no-club {
    display: inline-block;
  }
  .hero-image {
    width: 100%;
  }
  .hero-image img {
    width: 100%;

    margin: 0 auto;
  }
  .number {
    font-size: 1.125rem;
  }
  .workout-number {
    font-size: 1.9rem;
  }
  .text {
    font-size: 0.85rem;
  }

  .habit-content {
    width: 100%;
  }
  .run-image-div {
    background-image: url("../images/run.jpg");
    width: 100%;
    height: 270px;
  }
  .training-exercise-section {
    height: 520px;

    margin-top: 66px;
    margin-bottom: 20px;
  }
  .training-header {
    width: 100%;
    margin-bottom: 37px;
  }
  .bmi-header-content {
    width: 90%;
    margin-bottom: 32px;
  }

  .run-extra-mile {
    /* flex-direction: column; */
    /* align-items: center; */
    padding: 31px 33px 35px;
    gap: 31px;
  }

  .no-club {
    display: none;
  }

  .button {
    display: flex;
  }
  .bmi-chart {
    width: 100%;
  }
  .habit-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 1rem;
    /* flex-wrap: wrap; */
  }
  .pass {
    /* flex-direction: column; */
  }
  .one-day-pass {
    margin-top: 0px;
  }
  .monthly-pass {
    margin-bottom: 0px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .training-exercise-section {
    height: 396px;
    margin-bottom: 66px;
  }
  .training-first-div {
    grid-template-columns: 1fr 1fr;
  }

  .training-image-3,
  .training-image-6 {
    display: none;
  }
  .training-second-div {
    grid-template-columns: 1fr 1.24fr;
  }
  .exercise-image {
    height: 127px;
  }
  .training-image-1-p {
    color: rgb(255, 255, 255);
  }
  .training-image-4-p {
    right: 2px;
    top: 75px;
    left: 10px;
  }
  .bmi-container {
    /* flex-direction: column; */
  }
  .bmi-calculator-container {
    margin-bottom: 66px;
  }
  .bmi-table-form-container {
    /* border: 2px solid white; */
    padding: 34px 0px 59px 0px;
  }

  .bmi-container {
    gap: 42px;
  }
  .bmi-form {
    width: 100%;
  }
  .bmi-chart {
    /* border: 2px solid white;  */
    margin-top: 0px;
  }
  /* .meet-our-team {
    width: 100%;
    margin-bottom: 37px;
  } */
  .team-header {
    width: 87%;
  }
  .image-container {
    /* grid-template-columns: repeat(1, 1fr); */
    margin-top: 78px;
  }
  .download-app {
    margin-left: 0rem;
  }

  .habit-card {
    width: 50%;
  }
  .footer-container {
    padding-top: 44px;
    gap: 30px;

  }
  .footer-logo{
    font-size: 70px;
  }
  .footer-content {
    width: 91.79%;
    text-align: center;
  }
  .footer-bottom {
    text-align: center;
  }
}
